@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  padding: 20px 40px;
  border: 1px dashed aqua;
}

h2 {
  font-size: 24px;
}

input {
  padding: 10px 15px;
  border: 1px solid red;
}
button {
  padding: 10px 15px;
  border: 1px solid red;
}
